<h1 [align]="'right'">{{titulo}}</h1>
<menu [ngClass]="'menu'">Menu</menu>
<img src= {{foto}} [align]="'right'">
<br>
<br>
<p [ngClass]="'fondo'" [align]="'center'">Hola te invitamos a conocer el mundo de los equipos gamer, con nosotros puedes consultar, cotizar y saber mas sobre que equipo informatico se acopla a tus necesidades. Revisa nuestro catalogo.</p>
<br>
<br>
<br>
<app-button>Productos</app-button>
<br>
<br>
<br>
<img src= {{setup}} [align]="'left'">
<img src= {{setup1}} [align]="'center'">
<img src= {{setup2}} [align]="'right'">
<br>
<br>
<br>
<br>
<br>
<app-frame>Videos</app-frame>
<br>
<br>
<br>
<video src=""></video>
<br>
<br>
<app-footer></app-footer>
<router-outlet></router-outlet>
